name: HTML Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install HTMLHint
        run: npm install -g htmlhint
      - name: Run HTMLHint
        run: htmlhint "**/*.html"
